---
layout: default
title: 电报教程/telegram教程/纸飞机教程 资源导航
description: telegram怎么玩教程，电报资源分享，电报怎么玩教程，有哪些好玩的电报群推荐，纸飞机网页版官网地址，telegram有什么好玩的各类详细解析，为你提供丰富的电报资源。
canonical_url: 'https://tggsearch.org/telegram.html'
---
<h2>常用资源</h2>
<div class='icon-block-body-four'>
  <div class='icon-block-item'>
    <a href="/docs/302.html?target=https://telegram.org/android" target="_blank">
        <img src="/docs/assets/img/telegram.png" alt="电报安卓版本" height=50px>
        <p>安卓下载</p>
    </a>
  </div>
   <div class='icon-block-item'>
    <a href="/docs/302.html?target=https://telegram.org" target="_blank">
        <img src="/docs/assets/img/telegram.png" alt="电报官网" height=50px>
        <p>官网</p>
    </a>
  </div>
    <div class='icon-block-item'>
    <a href="/docs/302.html?target=https://web.telegram.org" target="_blank">
        <img src="/docs/assets/img/telegram.png" alt="电报网页版" height=50px>
        <p>网页版</p>
    </a>
  </div>
    <div class='icon-block-item'>
    <a href="/docs/302.html?target=https://t.me/chinaDianBaoFans" target="_blank">
        <img src="/docs/assets/img/telegram.png" alt="电报网页版" height=50px>
        <p>官方群</p>
    </a>
  </div>
</div>

<div>
    <h2>电报最新文章</h2>
  
    <div>&nbsp;</div>
  
    <ul class="post-list">
      {% assign pin_posts = '' | split: ',' %}
      {% assign regular_posts = '' | split: ',' %}

      {% for category in site.categories %} 
      {% if 'telegram' == category[0] %}
        {% assign pages_list = category[1] %}
        {% for tmp_post in pages_list %}
            {% if tmp_post.pin == true %}
                {% assign pin_posts = pin_posts | push: tmp_post %}
            {% else %}
                {% assign regular_posts = regular_posts | push: tmp_post %}
            {% endif %}
        {% endfor %}
      {% endif %}
      {% endfor %}

      {% assign combined_posts = pin_posts | concat: regular_posts %}

      {% assign count = 0 %}
      {% for post in combined_posts %}
        {% if post.title != null and count < 30 %}
            {% assign count = count | plus: 1 %}
        <li>
          {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
  
          {% assign url_link = post.url %}
          <h2>
            <a class="post-link" href="{{ url_link }}" title="{{ post.title }}">{{ post.title | escape }}</a>
          </h2>
  
          {{ post.excerpt | replace: '<script.*?</script>', '' | strip_html | markdownify | truncate: 60 }}
  
          <p>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
          </p>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>