---
layout: default
title:  海外软件技术教程
description: 提供全球软件技术交流知识，涵盖电报、纸飞机、推特等多个海外平台，深入探讨油管、YouTube、Facebook等内容。欧易和币安的使用教程，节点返佣等实用信息全面解读。如需技术支持，请添加QQ联系：1702242347，加了没同意，请加 2928893676。
---

<div>

  {{ content }}

  <h2>最新文章</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}

        {% assign url_link = post.url %}
        <h2>
          <a class="post-link" href="{{ url_link }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        {{ post.excerpt | replace: '<script.*?</script>', '' | strip_html | markdownify | truncate: 60 }}

        <p>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </p>
      </li>
    {% endfor %}
  </ul>
  
  <div class="mt-5">
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
        <ul class="pagination"> 
            {% if paginator.previous_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | append: '/'| replace: '//', '/' }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
            {% endif %}

            {% assign num_pages_to_display = 2 %}
            {% assign half_num_pages = num_pages_to_display | divided_by: 2 %}
            {% assign start_page = paginator.page | minus: half_num_pages | max: 1 %}
            {% assign end_page = paginator.page | plus: half_num_pages | min: paginator.total_pages %}

            {% if start_page > 2 %}
                <li class="page-item"><a class="page-link" href="{{site.url}}/">1</a></li>
                {% if start_page > 2 %}
                    <li class="page-item disabled"><span class="webjeda page-link">...</span></li>
                {% endif %}
            {% endif %}

            {% for page in (start_page..end_page) %}
              {% if page> 0 and page <= paginator.total_pages %}
                  {% if page == paginator.page %}
                      <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
                  {% elsif page == 1 %}
                      <li class="page-item"><a class="page-link" href="{{site.url}}">{{ page }}</a></li>
                  {% else %}
                      <li class="page-item"><a class="page-link" href="/{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}/">{{ page }}</a></li>
                  {% endif %}
              {% endif %}
            {% endfor %}

            {% if end_page < paginator.total_pages %}
                {% if end_page < paginator.total_pages - 1 %}
                    <li class="page-item disabled"><span class="webjeda page-link">...</span></li>
                {% endif %}
            {% endif %}

            {% if paginator.next_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | replace: '//', '/' }}/">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
  </div>  


</div>
